header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgb(88, 94, 91), rgb(28, 46, 34));
}
.heading {
  justify-content: flex-end;
}
body {
    font-family: 'Open Sans', sans-serif;
    color:#0b235c;
    background: linear-gradient(rgb(21, 65, 44), rgb(101, 143, 113));
}
a {
    text-decoration: none;
    color: #d6e0e4;
  }
  header a {
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
    margin-top: 13px;
  }
  button {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#d6e0e4;
    background-color: #1a1949;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    font-weight: 700;
  }
  #cov {
    width: 320px;
    border: 3px ridge #00a8e1
      }
      #cov:hover{
        border: 3px solid #10ebb4
      }
      #ous {
        width: 320px;
        border: 5px ridge #00a8e1
          }
          #ous:hover{
            border: 5px solid #10ebb4
          }
button:hover {
font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#fff;
    background-color: #1d352c;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    border: 1px solid #1f9477
}
section {
  border: 1px solid #85beaf;
  padding: 5px;
  display: block;
  /*margin: 10px;*/
  width: 330px;
  color: #08151a;
}
aside{
  position:absolute;
  background: linear-gradient(rgb(88, 94, 91), rgb(28, 46, 34));
  left: 2; top: 200px;
  color: #00a8e1;
  border: 3px solid rgb(141, 147, 173);
}
p {
  text-align: justify;

}
.tomor {
  margin-left: 160px;
  display: flex;
  justify-content: space-evenly;
}
#vak {
  width: 180px;
    border: 3px ridge #00a8e1
      }
      #vak:hover{
        border: 3px solid #10ebb4
      }
      h1{
        text-align: center;
        color: #08151a;
      }
footer{
  text-align: left;
  background: #2e2e38;
  color: #fff;
  padding-left: 12px;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
span {
  font-weight: 700;
}
#pocas {
  line-height: 1000px;
}